---
import Image from "astro/components/Image.astro";
import profilepic from "../assets/profilepic.png";
---

<div class="py-20 px-6">
  <div class="max-w-4xl mx-auto space-y-6">
    <div class="text-text-muted">
      <span class="text-accent">$</span> cat introduction.txt
    </div>
    <div class="py-6 max-w-xl space-y-4">
      <div class="text-5xl font-bold">
        <h1 class="">Hi, I am <span class="text-accent">Afra Hanifi</span></h1>
      </div>
      <p class="text-lg text-text-muted">
        I am a full-stack developer focusing on making great websites and web
        apps
      </p>
      <Image
        src={profilepic}
        alt="profile"
        class="h-40 w-40 object-cover rounded-full "
        loading={"eager"}
      />
    </div>
    <div class="text-accent after:content-['█'] after:text-text-muted after:animate-blink">
      ~/portfolio
    </div>
  </div>
</div>
